*{
	font-family: Montserrat;
}
body{
	margin: 0px;
	padding: 0px; 
}
header{
	background-color: #00ceaf;
	color: white;
}
.cabecera{ 
	padding: 5px;
	width: 3%;
}
nav{
}
#lista1 li {
     display:inline;
     padding-left:3px;
     padding-right:3px;
}
a {
    color: #00ceaf;
    text-decoration:none;
}
.frace{
	height: 400px;
}
footer{
	padding: 5px;
	color: white;
	background-color: #00ceaf;
	margin-top: 10px;
}