*{
	font-family: Montserrat;
}
body{
	margin: 0px;
	padding: 0px; 
	overflow-x: hidden;
}
header{
	background-color: #00ceaf;
	color: white;
}
.cabecera{ 
	padding: 5px;
	width: 2%;
}
nav{
	float: right;
	margin-right: 10px;
}
#lista1 li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
a {
    color: #00ceaf;
    text-decoration:none;
}
section{ 
	width: 100%;
	color: #00ceaf;
	margin-left: 2%;
}
aside{
	padding: 20px;
	width: 80%;
	color: white;
	background-color: #00ceaf;
	text-align: left;
}
footer{
	padding: 5px;
	color: white;
	background-color: #00ceaf;
	margin-top: 10px;
}

.caja{  
	font-weight: 400; 
	color: #00ceaf; 
	background: white;
}
.sub{
	margin-left: 8px;
}
#vacuna {
	display: block;
	width: 65%;
}
#campaña{
	width: 65%;
}
#pediatria{
	width: 65%;
}
#medicina{
	width: 65%;
}